numpy == 1.24.4
prophet == 1.1.6
yfinance == 0.2.61
cufflinks == 0.17.3
plotly == 5.18.0
scipy == 1.9.1
streamlit == 1.39.0
financetoolkit == 1.6.4
newsapi-python == 0.2.7
beautifulsoup4 == 4.11.2
nltk == 3.8.1
st-supabase-connection == 2.0.1
google-genai == 1.16.1
openai == 1.69.0